@model List<DailyPlanListVm>

@{
    ViewData["Title"] = "الخطط اليومية";
}
@if (Model is null)
{
    <div class="alert alert-warning text-center">
        لا توجد خطط 
    </div>

    return;
}
<div class="container py-4">

    <div class="d-flex justify-content-between mb-3">
        <h3>الخطط اليومية</h3>

        <a class="btn btn-primary" asp-action="Create">
            + إنشاء خطة جديدة
        </a>
    </div>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>التاريخ</th>
                <th>ظابط عظيم</th>
                <th>ظابط نوبتجي</th>
                <th>عدد الالتزامات</th>
                <th>إجراءات</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.Id">
                    <td>@item.PlanDate</td>
                    <td>@item.SeniorOfficerName</td>
                    <td>@item.DutyOfficerName</td>
                    <td>@item.CommitmentsCount</td>
                    <td >

                        <a
                           asp-action="Create"
                           asp-route-id="@item.Id"
                           class="btn btn-primary shadow-sm rounded-circle"
                           title="تعديل">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <a asp-action="Print"
                           asp-route-id="@item.Id"
                           target="_blank"
                           class="btn btn-success shadow-sm rounded-circle"
                           title="طباعة">
                            <i class="fa-solid fa-print"></i>

                        </a>

                       
                            <a
                                class="btn btn-danger shadow-sm rounded-50 "
                                title="حذف"
                                    onclick="deleteItem('@item.Id', 'DailyPlan')">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                       

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/deleteitem.js"></script>
}
